<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
</head>

<body>
  <h1>Register Index</h1>
  <a href="/register-current-location">
    <img src="/images/register.png" style="width:82px; height:86px" title="register_current_location" alt="register_current_location">
  </a>
  <a href="/register-input-address">
    <img src="/images/search.png" style="width:82px; height:86px" title="register_input_address" alt="register_input_address">
  </a>
</body>

</html>
